<h1>Find your perfect ride!</h1>
<form action="/vehicles" method="get">
  <button type="submit" name="directory">See all vehicles</button>
</form>
<form action="/sell" method="get">
  <button type="submit" name="sell">Sell your vehicle</button>
</form>
