<h1>Success!</h1>
<h3>Your vehicle is now up for sale</h3>
<a href="/vehicles">See Vehicle List</a>
<a href="/vehicle/new">Add New Vehicle</a>

<!-- <p>Review your details below</p> -->

<p>
  <a href="/">Home</a>
</p>
