<h1>Success!</h1>
<h3>Your information is now added</h3>
<a href="/dealerships">See Dealership List</a>
<br>
<a href="/dealerships/:id/vehicles/new">Add New Vehicle</a>

<!-- <p>Review your details below</p> -->

<p>
  <a href="/">Home</a>
</p>
