<h1>Sell your vehicle</h1>

<form action="/vehicles" method="post">
  <label for="make">Make</label>
  <input id="make" type="text" name="make" class="form-group">
  <label for="model">Model</label>
  <input id="model" type="text" name="model" class="form-group">
  <label for="year">Year</label>
  <input id="year" type="text" name="year" class="form-group">
  <label for="color">Color</label>
  <input id="color" type="text" name="color" class="form-group">
  <label for="engine_size">Engine size</label>
  <input id="engine_size" type="text" name="engine_size" class="form-group">
  <label for="number_of_doors">Number of doors</label>
  <input id="number_of_doors" type="text" name="number_of_doors" class="form-group">
  <button type="submit">Submit</button>
</form>
